* {
    padding: 0;
    margin:0;
    vertical-align: baseline;
    line-height: 1.3;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $montserrat;
}

img {
    max-width: 100%;
    height: auto;
}


body,html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $mainBG;


    &.noscroll {
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
        

}

.flex {
    display: flex;


&-jc-sb {
    justify-content: space-between;
}
&-jc-e {
    justify-content: space-evenly;
}
&-jc-c {
    justify-content: center;
}
&-ai-c {
    align-items: center;
}
}

.hide-for-mobile {
@include breakpoint-down(small){
    display: none;
}}
.hide-for-tablet {
    @include breakpoint-down(medium){
        display: none;
}
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}


.bMg {
   margin-top: 20px;
   margin-bottom: 120px;

   @include breakpoint-down(small) {
       margin-bottom: 80px;
   }
}



// CTA Styles

.mainCta, .altCta {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 1.6vw, 1.4rem) ;
    font-style: italic;
    border-radius: 50px;
    padding: 8px 30px 8px 30px;
    font-weight: 400;
    text-align: center;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.16);
    border-width: 0;
    @include breakpoint-down(small){
        margin:auto;
        min-width: 180px;
    }
}

.mainCta {
    color: $btnText;
    background-color: $mainYellow;
    cursor: pointer;

    &:hover {
        background-color: #d3aa09;
    }
}

.altCta {
    color: white;
    background-color: rgba(0, 0, 0, 0.315);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.534);
    }
}


.textAlignCenter {
    text-align: center;
    margin:40px auto;
    max-width: 800px;
    letter-spacing: 1.6;
    line-height: 1.6;
    font-style: italic;
    font-size: var(--fs-300);

    @include breakpoint-down(medium){
        width: initial;
        margin: 2rem 4rem;
    }


    @include breakpoint-down(small){
        margin: 2rem 2rem;

    }


}

.darkOverlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 500vh;
    background-color: rgba(0, 0, 0, 0.624);
    z-index: 4;
    display: none;
}


.devider {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    

    @include breakpoint-down(small){
        display: none;
    }
    
}
#deviderLine {
    margin-top: 50px;
}

#paragraph {
    margin-top: 0rem;
    margin-bottom: 15rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include breakpoint-down(small){
        margin-bottom: 0rem;
        margin-top: 14rem;

    }
    h1 {
        font-weight: 400;
        
        margin-bottom: 3rem;
        
        @include breakpoint-down(medium){
            padding-top: 0rem;
                
                    }

        @media only screen and (min-width: 430px) {
            padding-top: 10rem;

          }

    }
    p {

        font-weight: 300;
        line-height: 1.7;
        font-size: var(--fs-300);
   
        font-style: italic;
    }

}





.lang-change {
    position: fixed;
    z-index: 3;
    right: 10px;
    bottom: 20px;
    opacity: 0.43;
    transition: opacity 0.6s;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 1.2rem;

    &__dropdown {
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s;
        background: #ddd;
        left: 0;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        max-height: 200px;
        text-align: left;

        a {
            color: black;
        }


    

        .active-lang {
            background-color: rgb(131, 131, 131);
            border-radius: 5px 5px 0 0;
            a {
                color: white;
            }


        }
       
        
        :nth-child(2) {
            border-bottom: none;
            border-radius: 0 0 5px 5px;
            margin-top: -2px;
            transition: all 0.3s ease-in-out;
    

            &:hover {
                background-color: $mainYellow;
                transition: all 0.3s ease-in-out;
           
    
                    a {
                        color:white;
                        transition: all 0.3s ease-in-out ;
                    }

                    .active-lang {
                        background-color: #ddd;
                    }
            }
        }

        li {
            margin: 0;
            
            padding: 1rem 0.9rem;
            border-bottom: 1px solid #ccc;
            list-style-type:none;

        }
    }

    &:hover {    
        opacity: 1;

        .lang-change__dropdown {
            visibility: visible;
            opacity: 1;
        }
    }


}


.earth-icon {
    width: 48px;
    height: 48px;
}

.kaleta {
    position: absolute;
    top:38px;
    left:-14px;
    width: 150%;
    font-size: 12px;
    display: none;
    color: rgb(18, 17, 17)!important;
}

#splitButton {
    position: relative;
}