* {
    padding: 0;
    margin:0;
    vertical-align: baseline;
    line-height: 1.3;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $montserrat;
}
:root {
    --fs-xl: clamp(3rem, 8vw + 1rem, 5.8rem);
    --fs-lg: clamp(1.7rem, 4vw + 1rem, 3.8rem);
    --fs: (3rem, 8vw + 1rem, 5rem);
    --fs-600: 3.5rem;
    --fs-400:1.5rem;
    --fs-300:1rem;

    @include breakpoint-down(medium){
        
        --fs-600: 2.5rem;
        --fs-400:1.25rem;
        --fs-300:0.7rem;
    }

    @include breakpoint-down(small){
        
        --fs-600: 2.3rem;
        --fs-400:1.2rem;
        --fs-300:0.6rem;
    }
}


body,html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $mainBG;


    &.noscroll {
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
        

}

.flex {
    display: flex;


&-jc-sb {
    justify-content: space-between;
}
&-jc-e {
    justify-content: space-evenly;
}
&-jc-c {
    justify-content: center;
}
&-ai-c {
    align-items: center;
}
}

.hide-for-mobile {
@include breakpoint-down(small){
    display: none;
}}
.hide-for-tablet {
    @include breakpoint-down(medium){
        display: none;
}
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}


.bMg {
   margin-top: 20px;
   margin-bottom: 120px;

   @include breakpoint-down(small) {
       margin-bottom: 80px;
   }
}



// CTA Styles

.mainCta, .altCta {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 1.6vw, 1.4rem) ;
    font-style: italic;
    border-radius: 50px;
    padding: 8px 30px 8px 30px;
    font-weight: 400;
    text-align: center;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.16);
    border-width: 0;
    @include breakpoint-down(small){
        margin:auto;
        min-width: 180px;
    }
}

.mainCta {
    color: $btnText;
    background-color: $mainYellow;
}

.altCta {
    color: white;
    background-color: rgba(0, 0, 0, 0.315);
}


.textAlignCenter {
    text-align: center;
    margin:40px auto;
    width: 80ch;
    letter-spacing: 1.6;
    line-height: 1.6;
    font-style: italic;
    font-size: var(--fs-300);

    @include breakpoint-down(medium){
        width: initial;
        margin: 2rem 4rem;
    }


    @include breakpoint-down(small){
        margin: 2rem 2rem;

    }


}