// font sizes

:root {
    --fs-xl: clamp(2.8rem, 6vw + 1rem, 7.8rem);
    --fs-lg: clamp(1.5rem, 3vw + 1rem, 3.5rem);
    --fs: (3rem, 8vw + 1rem, 5rem);
    --fs-600: 3.5rem;
    --fs-500: 2.3rem;
    --fs-400:1.4rem;
    --fs-300:1.3rem;

    @include breakpoint-down(medium){
        
        --fs-600: 2.5rem;
        --fs-500: 2rem;
        --fs-400:1.2rem;
        --fs-300:1rem;
    }

    @include breakpoint-down(small){
        

        --fs-600: 2.1rem;
        --fs-500: 1.7rem;
        --fs-400:1.1rem;
        --fs-300:0.9rem;
    }
}

// Colors

$greyText: hsl(0, 0%, 22%);
$navBg: #F4F4F4;
$black: #303030;
$btnText: #2d2d2d;
$mainYellow: #EFC319;
$mainBG: #f5f5f5;


// Font family

$montserrat: 'Montserrat', sans-serif;
$merrieweather: 'Merriweather', serif;
$eb: 'EB Garamond', serif;